body {
	overflow-x: hidden;
	overflow-y: hidden;
	font-family: Arial;
	font-weight: 700;
	font-size: 20pt;
}
a {
	text-decoration: none;
	color: darkblue;
}
#box {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
}
#one {
	position: absolute;
	width: 30%;
	height: auto;
	left: 10%;
	top: auto;
}
#two {
	position: absolute;
	width: 30%;
	height: auto;
	left: 60%;
	top: auto;
}
#title {
	position: absolute;
	width: 60%;
	height: 20%;
	left: 20%;
	top: 5%;
	font-size: 30pt;
}
