body {
	padding: 30px;
	font-family: "Arial";
}
div {
	text-align: left;
	padding: 20px;
}
#tytul {
	font-family: "Arial";
	font-size: 28pt;
	font-weight: 700;
}
.przycisk {
	color: rgb(255, 255, 255);
	font-size: 20px;
	line-height: 28px;
	padding: 12px;
	border-radius: 30px;
	font-family: Georgia, serif;
	font-weight: normal;
	text-decoration: none;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
	border: 2px solid rgb(28, 110, 164);
	display: inline-block;
	background: #144E75;
	}
.przycisk:hover {
background: #1C6EA4; 
}
.pzycisk:active {
background: #144E75; 
}
#formularz {
	width: 300px;
	height: 200px;
	position: absolute;
	left: 30px;
	top: 30px;
	border: solid;
}
#zdjecie {
	background-image: url("../images/grass.png");
	width: 300px;
	height: 345px;
	position: absolute;
	left: 400px;
	top: 30px;
}
#podpis {
	width: 300px;
	height: 60px;
	position: absolute;
	left: 400px;
	top: 410px;
	text-align: center;
	font-size: 30px;
}
#podpisA {
	width: 300px;
	height: 60px;
	position: absolute;
	left: 30px;
	top: 270px;
	text-align: center;
	font-size: 26px;
}
#cow {
	max-width: 280px;
}
